@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css);

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-room {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 25px 0;
  overflow: hidden;
}
@media (max-width: 576px) {
  .App-room > .card:not(:first-child) { margin-left: -75px; }
}


.App-shield {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .App-shield { margin-top: -125px; }
  .App-shield .card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
}
